{% extends "header.html" %}
{% load static %}

{% block title %}
    Acceso
{% endblock %}

{% block content %}

{#    <nav style="margin-bottom: 0px;background: black;" class="">#}
{#        <div style="width: 10%;height: 50px;margin-left: 5%;padding-top: 10px;">#}
{#          <img id="logo-menu" src="{% static 'img/logo.png' %}" alt="" >#}
{#      </div>#}
{#    </nav>#}

    <div class="container " >
        <br>
        <form class="form-horizontal" id="frm_validar" data-post-url ='{% url formulario %}'>
           {% csrf_token %}
            <div style="top: 200px;" class="panel panel-primary col-md-6 col-md-offset-3">
                    <h2 class="text-center">Ingrese Código de Acceso</h2>
                    <div class="form-group ">
                        <div class="col-md-12">
                            <label style="float: left" >Codigo</label>
                            <input class="form-control input-sm" id="idCodigo" name="txtCodigo" type="text" />
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-12">
                            <button style="float: left" type="button" class="btn btn-sm btn-info btn-block" onclick="ValidarIngreso()">Aceptar</button>
                        </div>
                    </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">


    function ValidarIngreso()
    {
        var post_url = $('#frm_validar').data("post-url");
        var frm = $('#frm_validar');

        $.ajax({
                type: 'post',
                url: post_url,
                data: frm.serialize(),
                dataType: 'json',
                success: function (response)
                {

                   if(response.salida == 0)
                   {
                        $.confirm({
                                    title: 'Ingreso',
                                    content: 'Debe Seleccionar una opcion',
                                    theme: 'Modern',
                                    animation: 'top',
                                    icon: 'glyphicon glyphicon-remove',
                                    type: 'red',
                                    buttons:
                                            {
                                              ok:
                                                {
                                                  btnClass: 'btn-red',
                                                  action: function () {  }
                                                }
                                            }
                                  });
                   }
                   else
                   if(response.salida == 2)
                   {
                       console.log(response.acceso);
                       var ruta = "{% url 'listar_examen' 123  %}";
                       document.location.href = ruta.replace('123',response.acceso);


                   }

                }
              });
    }




</script>
{% endblock %}
